@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Montserrat:wght@400;700&display=swap');


body {
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color: #0b0f1a;
color: #f4f4f4;
line-height: 1.6;
}

nav {
text-align: center;
margin-top: 40px;
 
}    

a {
font-size: 14px;  
color: #c6a85b;
text-transform: uppercase;
margin-left: 20px;
text-decoration: none;
letter-spacing: 2px;
}

a:hover {
text-decoration: underline;
color: #9aa0a6;
}

h1{
font-family: 'cormorant garamond', serif;
font-size: 64px;
text-align: center;
color: #c6a85b;
text-transform: uppercase;
margin-top: 80px;
margin-bottom: 20px;
}

h2 {
font-family: 'cormorant garamond', serif;
font-size: 36px;
color: #c6a85b;
margin-top: 100px;
margin-bottom: 10px;
letter-spacing: 1px;
}

h3{
font-family: 'montserrat', sans-serif;
font-size: 14px;
color: #9aa0a6;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 10px;
letter-spacing: 2px;
}

p{
font-size: 18px;
margin-bottom: 20px;
}
p>i {
font-size: 18px;
color: #c6a85b;
text-align: center;
}

p:first-of-type {   
font-size:18px;
text-align: center;
}
blockquote{
margin-top: 70px;
margin-bottom: 70px;
}

blockquote p {
font-size: 24px;
color: #c6a85b;
font-style: italic;
text-align: center;
}

ul {
margin-top: 20px;
margin-bottom: 40px;
}

li {
font-size: 18px;
margin-bottom: 12px;
}


section{
padding-left: 60px;
padding-right: 60px;
}

.hero {
padding: 60px;
}

.hero .subtitle {
font-size: 20px;
color: #9aa0a6;
margin-bottom: 20px;
}

img {
width: 100%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
footer {
font-size: 14px;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
margin-top: 100px;
background-color: #000;
}